@page "/counter"
@using Microsoft.Extensions.Logging;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me +</button>
 

@code {
    private int currentCount = 101;

    private void IncrementCount()
    {
        currentCount++;
    }
}
